ipython
jupyter
gdown
unzip
gensim
numpy
pandas
Pillow
matplotlib
seaborn
onnxruntime
pydot
pydotplus
graphviz
opencv-python
nltk
contractions
tensorflow
tensorboard
scikit-learn
setuptools
langdetect
spacy
spacy download en_core_web_md
spacy download en_core_web_sm